
{% extends 'admin.html' %}
{% block title %}Comet--系统配置{% endblock %}

{% block content %}
<div class="layui-container" style="margin-top: 50px;" xmlns="http://www.w3.org/1999/html">
    <div class="layui-row">
        <h1 style="font-size: 20px;">fofa api配置</h1></br>
      <div class="layui-col-md6">

        <form class="layui-form" action="" method="POST">
          <div class="layui-form-item">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-block">
              <input type="text" name="fofa_email" required  lay-verify="required|email" placeholder="请输入邮箱" autocomplete="off" class="layui-input" value="{{ Fofa_email }}">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">Key</label>
            <div class="layui-input-block">
              <input type="text" name="fofa_key" required  lay-verify="required" placeholder="请输入Key" autocomplete="off" class="layui-input" value="{{ Fofa_key }}">
            </div>
          </div>
          <div class="layui-form-item">
            <div class="layui-input-block">
              <button class="layui-btn" lay-submit lay-filter="formAffirm" lay-submit>确认</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="layui-row">
        <h1 style="font-size: 20px;">VirusTotal api配置</h1></br>
      <div class="layui-col-md6">

        <form class="layui-form" action="" method="POST">
          <div class="layui-form-item">
            <label class="layui-form-label">Key</label>
            <div class="layui-input-block">
              <input type="text" name="virustotal_key" required  lay-verify="required" placeholder="请输入Key" autocomplete="off" class="layui-input" value="{{ VirusTotal_key }}">
            </div>
          </div>
          <div class="layui-form-item">
            <div class="layui-input-block">
              <button class="layui-btn" lay-submit lay-filter="formAffirm" lay-submit>确认</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


{% endblock %}
