{% extends 'admin.html' %}
{% block title %}Comet--漏洞信息{% endblock %}

{% block content %}


        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body layui-table-body layui-table-main">
                            <table class="layui-table layui-form">
                                <thead>
                                  <tr>
                                      <th>ID</th>
                                      <th>漏洞URL</th>
                                      <th>漏洞类型</th>
                                      <th>时间</th>
                                  </tr>
                                </thead>

                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>


{% endblock %}